name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.2
          - 3.4
        rails_version:
          - 7.2.3
          - 8.0.4
          - 8.1.1
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: "latest"
      - name: Install dependencies
        run: bundle install
        env:
          RAILS_VERSION: ${{ matrix.rails_version }}
      - name: Run tests
        run: bundle exec rake
        env:
          RAILS_VERSION: ${{ matrix.rails_version }}
